SECRET_KEY=  # Обязательно!
DEBUG=True

NAME=  # Имя базы данных
USER=  # Имя пользователя базы данных
PASSWORD=  # Пароль пользователя базы данных
HOST=  # Хост базы данных
PORT=  # Порт базы данных

EMAIL_HOST_USER=  # Адрес почты
EMAIL_HOST_PASSWORD=  # Пароль приложения